.header{
    border-bottom: 0.1rem solid #ffffff4d;

    &__flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    &__end{
        h4{
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
            height: 11.1rem;
        padding: 0 3rem;
    }
    &__contact{
        span{
            font-weight: 500;
        }
        a{
            font-weight: 400;
            color: $white;
            text-decoration: none;
        }
    }
    &__middle{
        flex: 1;
        border-left: 0.1rem solid #ffffff4d;
        border-right: 0.1rem solid #ffffff4d;
    }
    &__social{
        @media #{$xm}{
            display: none;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }
    }
    &__logo{
        padding: 2rem 0;
        img{
            @media #{$xs}{
                width: 13rem;
            }
        }
    }
    &__nav{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 15rem;
        left: 50%;
        ul{
            display: flex;
            align-items: center;
            gap: 1.6rem;
            li{
                a.active{
                    color: #fff;
                    position: relative;

                    &::after{
                        position: absolute;
                        content: "";
                        width: 0.6rem;
                        height: 0.6rem;
                        background-color: #f00;
                        filter: blur(2px);
                            bottom: -12px;
                                transform: translate(-50%, -50%);
                                right: 0;
                                left: 50%;


                    }
                }
                a{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #757575;
                    text-decoration: none;

                }
            }
        }
    }
}