.project{
    padding: 8rem 0 4rem;
    &__title{
        h2{
            color: #f00;
            font-size: 3.2rem;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }
        p{
            color: #F9F9F9;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0;
        }
    }
    &__box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 4rem 1.6rem;
        margin: 4rem 0 0;

        @media #{$xss}{
        grid-template-columns: repeat(1, 1fr);
        }
    }
    &__card{
        h3{
            color: #F9F9F9;
            font-size: 3.2rem;
            font-weight: 700;
            margin: 0 0 0.8rem;
        }
        p{
            color: #514F5A;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0;
        }
    }
    &__content{
        margin: 1.6rem 0 0;
    }
    &__tab{
        margin: 5rem 0 0;

        .nav-pills{
            .nav-item{
                button{
                    &:nth-child(1){

        border-radius: 8px 0px 0px 8px;
    
                    }
                }
                .nav-link{
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #fff;
                    padding: 1.2rem 1.6rem;
                    background: #454545;
                    border-radius: 0 !important;
                    border: none;
                  


                }
                .nav-link.active{
                    font-size: 1.6rem;
                    font-weight: 700;
                    background-color: #f00;
                }
            }
        }
    }
}