@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import "variables";
@import "header";
@import "about";
@import "projects";
@import "single";
@import "process";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
body {
  font-family: "Manrope", sans-serif !important;
  color: $white;
  background-color: $text;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}
.padding {
  padding: 8rem 0;
}
img{
  max-width: 100%;
  height: auto;
}
.banner {
  padding: 4rem 0;
  ul {
    display: flex;
    gap: 1rem;
    @media #{$xs}{
      flex-direction: column;
    }
    li.initial-50 {
      width: 60%;
    }
    li.active {
      width: 49%;
      @media #{$xs}{
        width: 100%;
        height: 100%;
      }
      &::after {
        opacity: 0 !important;
      }
      .banner__hover-content {
        opacity: 1;
        transition-delay: 0.25s;
      }

      .banner__hovered {
        display: none;
      }
    }
    li {
      &:nth-child(1) {
        background-image: url(../assets/img/bg/img-1.png);
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(45deg, #02ebad 0%, #5a57fb 50%);
          opacity: 0.75;
          transition: all 0.35s ease-in-out;
        }
      }
      &:nth-child(2) {
        background-image: url(../assets/img/bg/img-2.png);

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          height: 100%;
          width: 100%;
          border-radius: 32px;
            background: linear-gradient(180deg, rgba(195, 139, 98, 0.70) 0%, rgba(206, 132, 87, 0.70) 100%);
          opacity: 0.75;
          transition: all 0.35s ease-in-out;
        }
      }

      &:nth-child(3) {
        background-image: url(../assets/img/bg/img-3.png);

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          height: 100%;
          width: 100%;
          border-radius: 32px;
          border-radius: 32px;
            background: linear-gradient(180deg, rgba(131, 153, 40, 0.70) 0%, rgba(80, 100, 12, 0.70) 100%);
          opacity: 0.75;
          transition: all 0.35s ease-in-out;
        }
      }
            &:nth-child(4) {
              background-image: url(../assets/img/bg/img-4.png);
      
              &::after {
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                height: 100%;
                width: 100%;
                    background: #6a850b;
                opacity: 0.75;
                transition: all 0.35s ease-in-out;
              }
            }

      border-radius: 3rem;
      background-blend-mode: overlay;
      width: 17%;
      height: 84vh;
      background-size: cover;
      transition: all 250ms ease-in-out;
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      @media #{$xs}{
        width: 100%;
        height: 10rem;
      }

      &::before{
            position: absolute;
              left: 0;
              bottom: 0;
              content: "";
              height: 100%;
              width: 100%;
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, #000 100%);
              // background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
              // z-index: -1;
              transition: all 0.35s ease-in-out;
              // visibility: hidden;
              // opacity: 0;
      }
    }
  }
  &__hover-content {
    opacity: 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    z-index: 1;

    h5 {
      font-size: 1.6rem;
      margin: 0 0 1rem;
      font-weight: 700;
          display: flex;
            align-items: center;
            gap: 1rem;
      @media #{$xs}{
        justify-content: center;
      }

      span{
        min-width: 10rem;
        background-color: #fff;
        height: 0.1rem;
        display: block;

        @media #{$xs}{
          display: none;
        }

      }
    }
    h3 {
      font-size: 4rem;
      font-weight: 700;
      margin: 0 0 1rem;
      @media #{$xs}{
        text-align: center;
      }
                        @media #{$md} {
                          font-size: 2rem;
                        }
    }
    p {
      font-size: 1.6rem;
      margin: 0 0 2rem;
      font-weight: 400;
      @media #{$xs}{
        text-align: center;
      }
      @media #{$md}{
        font-size: 1.4rem;
      }
    }
    a{
      @media #{$xs}{
        width: 100%;
        text-align: center;
      }
    }
  }

  &__hovered {
    @media #{$xs}{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    h4 {
      writing-mode: vertical-lr;
      font-size: 2.4rem;
      color: $white;
      text-align: center;
      margin: 6rem auto 0;
      position: relative;
      z-index: 1;
      font-weight: 700;
      @media #{$xs}{
        writing-mode: unset;
        margin: unset;
        flex: 1;
      }
    }
    h3 {
      position: absolute;
      bottom: 0;
      font-size: 8rem;
      font-weight: 500;
      margin: 0;
      color: transparent;
      -webkit-text-stroke: 1px #fff;
      left: 50%;
      transform: translate(-50%, 28%);
      z-index: 1;

      @media #{$xs}{
        position: unset;
        transform: unset;
      }
    }
  }
}



.password-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .popup-content {
      background-color: #070707;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #FF0000;
      width: 80%;
      color: #FFFFFF;
      border-radius: 10px;
    }
  
    .close {
      color: #FFFFFF;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
      color: #FF0000;
      text-decoration: none;
      cursor: pointer;
    }
  
    label {
      color: #FFFFFF;
    }
  
    input {
      background-color: #070707;
      border: 1px solid #FF0000;
      color: #FFFFFF;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 100px;
      width: 100%;
      height: 5.2rem;
    }
  
    button {
      background-color: #FF0000;
      color: #FFFFFF;
      border: none;
      padding: 18px 20px;
      border-radius: 100px;
      cursor: pointer;
      width: 100%;
      margin: 3rem 0 0;
    }
}


.thank-you-card {
  background-image: url('/assets/img/thank-you-page/bg.png');
  /* Replace with the actual path to your image */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 4em 1em;
  /* Adjust the padding as needed */
  color: #fff;
  /* Set text color to white or any desired color */
}

.thank-you-card h2 {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0.5em;

}

.thank-you-card p {
  color: #9E9E9E;
  text-align: center;
  font-size: 14px;
  font-weight: 400;

}
.banner__hovered h4 {
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 6rem auto 0;
  position: relative;
  z-index: 1;
  font-weight: 700;
}
.banner__hovered h3 {
  position: absolute;
  bottom: 0;
  font-size: 8rem;
  font-weight: 500;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  left: 50%;
  transform: translate(-50%, 25%);
  z-index: 1;
}
@media (max-width: 767px) {
  .banner__hovered h3 {
    position: unset;
    transform: unset;
    margin-left: 0.2em;
  }
}
@media (max-width: 767px) {
  .banner__hovered h4 {
    font-size: 1.5rem;
    -ms-writing-mode: unset;
    writing-mode: unset;
    margin: unset;
    flex: 1;

  }
}

.project__card img {
  border-radius: 1.5rem;
}

.single__img img {
  border-radius: 2em;
}


.process__img.mobile-none{

  @media #{$xm}{
    display: none;
  }

}

.password{
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        

  &__content{
    margin: 0 auto;
      max-width: 480px;
      border-radius: 40px;
      background: #070707;
      padding: 3rem;
      position: relative;

      h4{
        color: #f00;
        font-size: 3.2rem;
        font-weight: 700;
        margin: 0 0 3.2rem;
        text-align: center;
      }

      p{
        color: #514F5A;
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0 0 3.2rem;
        text-align: center;
        span{
          color: #fff;

        }

      }

  }
  &__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}